{% extends 'dashboard/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-forget' action="/forget" method="post">
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              {% csrf_token %}
              <h2 class="text-center">忘记密码</h2>
              <div class="form-group">
                  {{ forget_form.email.label_tag }}
                  {{ forget_form.email}}
              </div>
              <div class="form-group">
                  {{ forget_form.check.label_tag }}
                  {{ forget_form.check }}
              </div>
              <div class="form-group">
                  {{ forget_form.password1.label_tag }}
                  {{ forget_form.password1 }}
              </div>
              <div class="form-group">
                  {{ forget_form.password2.label_tag }}
                  {{ forget_form.password2 }}
              </div>
              <button type="button" class="btn btn-default pull-left" id="send">发送验证码</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div> <!-- /container -->
    <script>
    $(document).ready(function(){
     $("#send").click(function(){
        var email = $("#email").val();
        $.getJSON("/send",{'email':email}, function(ret){
        })
      });
    });
    </script>
{% endblock %}