{% extends 'dashboard/base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <form class='form-register' action="{% url 'register' %}" method="post">
          {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
          {% endif %}
          {% csrf_token %}
          <h2 class="text-center">Register your account</h2>

          {% load bootstrap4 %}
          {% bootstrap_form register_form %}
          <div class="form-group d-flex">
            <button type="reset" class="btn btn-secondary pull-left mr-auto">Reset</button>
            <button type="submit" class="btn btn-primary pull-right">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- /container -->
{% endblock %}
