{% extends 'dashboard/base.html' %}

{% block title %}
  Record #{{ rid }}
{% endblock %}

{% block content %}
  <div class="container">
      <h1 class="mr-auto mb-1">Record #{{ rid }}</h1>
      <div class="mb-3">
        Uploaded by
        <a href="#">{{ record.user }}</a>
      </div>
    <div class="list-group">
      <div class="list-group-item">
        <h5 class="mb-2">Github commit</h5>
        <a href="{{ record.github_url }}">{{ record.github_str }}</a>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2">Entry</h5>
        <pre>{{ record.entry }}</pre>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2">Arguments</h5>
        <pre id="args">{{ record.args }}</pre>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2">Working directory</h5>
        {{ record.working_dir }}
      </div>
      <div class="list-group-item">
        <h5 class="mb-2">Record information</h5>
        <pre id="info">{{ record.result }}</pre>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2">Result</h5>
        <pre id="result">{{ record.result }}</pre>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ record.result|json_script:"result-json" }}
  {{ record.record_information|json_script:"info-json" }}
  {{ record.args|json_script:"args-json" }}
  <script>
    $(document).ready(function () {
      $('#result').jsonViewer(JSON.parse($('#result-json').text()), {
        withQuotes: true,
        withLinks: false
      });

      $('#info').jsonViewer(JSON.parse($('#info-json').text()), {
        withQuotes: true,
        withLinks: false
      });

      $('#args').jsonViewer(JSON.parse($('#args-json').text()), {
        withQuotes: true,
        withLinks: false
      });
    });
  </script>
{% endblock %}
