{% extends 'dashboard/base.html' %}

{% block title %}
  Record #{{ rid }}
{% endblock %}

{% block content %}
  <div class="container">
  <h1 class="mr-auto mb-1">Record #{{ rid }}</h1>
  <div class="mb-3">
    Uploaded by
    <a href="{% url 'records' %}?uid={{ record.user.id }}">{{ record.user }}</a>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <h5 class="mb-1">Github commit</h5>
      <a href="{{ record.github_url }}">{{ record.github_str }}</a>
    </div>

    <div class="list-group-item">
      <h5 class="mb-1">Result</h5>
      <pre id="result"></pre>
    </div>

    <div class="list-group-item">
      <div>

        <h5 class="mb-0">Description</h5>

        <form action="{% url 'update' %}" method="post" class="mb-2">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ record.id }}">
          <div class="form-group">
            <label for="description"></label>
            <textarea class="form-control" id="description" name="description">{{ record.description }}</textarea>
          </div>
          {% if request.user == record.user %}
            <button type="submit" id="update-description" class="btn btn-outline-primary">Update description</button>
          {% endif %}
        </form>
      </div>
    </div>


    <div class="list-group-item">
      <h5 class="mb-1">Record information</h5>
      <pre id="info"></pre>
    </div>

    <div class="list-group-item">
      <h5 class="mb-1">Config</h5>
      <pre id="config"></pre>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ record.result|json_script:"result-json" }}
  {{ record.record_information|json_script:"info-json" }}
  {{ config|json_script:"config-json" }}
  <script>
    $(document).ready(function () {
      $('#result').jsonViewer(JSON.parse($('#result-json').text()), {
        withQuotes: true,
        withLinks: false
      });

      $('#info').jsonViewer(JSON.parse($('#info-json').text()), {
        withQuotes: true,
        withLinks: false
      });

      $('#config').jsonViewer(JSON.parse($('#config-json').text()), {
        withQuotes: true,
        withLinks: false
      });
    });
  </script>
{% endblock %}
