{% extends 'dashboard/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block css %}
  {#  <link rel="stylesheet" href="{% static 'css/login.css' %}">#}
{% endblock %}

{% block content %}
  {#  {% if form.errors %}#}
  {#    <p>Wrong username or password. Please try again.</p>#}
  {#  {% endif %}#}

  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 align-self-center offset-4">
        {% if next %}
          <div class="alert alert-warning">
            {% if request.user.is_authenticated %}
              Your account doesn't have access to this page. To proceed,
              please login with an account that has access.
            {% else %}
              Please login to see this page.
            {% endif %}
          </div>
        {% endif %}

        <form class="text-left form-login" action="{% url 'login' %}" method="post">
          {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
          {% endif %}
          {% csrf_token %}
          <h2 class="text-center">Welcome</h2>

          {% bootstrap_form form %}
          <div class="form-group d-flex">
            <a class="mr-auto" href="{% url 'password_reset' %}">Forgot password?</a>
            <button type="submit" class="btn btn-primary pull-right">Log In</button>
          </div>
          <input type="hidden" name="next" value="{{ next }}">
        </form>
      </div>
    </div>
  </div> <!-- /container -->

{% endblock %}
